$img-path: '../../img';
$heading-font: 'Cinzel', serif;
$base-font: 'Cormorant Garamond', serif;
$font-size: 18px;
$font-color: #fff;
$black: #000;
$white: #fff;
$gold: #cec26a;
$green-background: rgba(51, 153, 0, .3);
$background-gray: #0d0d0d;
$background-gray-transparent: rgba(13, 13, 13, .7); //== Breakpoint Variables ==
$tiny-max-width: 360px;
$mobile-max-width: 480px;
$tablet-max-width: 767px;
$desktop-min-width: 980px;
$desktop-xl-min-width: 1300px;
