$img-path: '../../img'; //$heading-font:;
//$base-font:;
$font-size: 18px;
$font-color: #fff;
$black: #000;
$white: #fff;
$tiny-max-width: 360px;
$mobile-max-width: 480px;
$tablet-max-width: 767px;
$desktop-min-width: 980px;
$desktop-xl-min-width: 1300px;