$base-font: 'RobotoCondensed';
$footer-font: 'Roboto';
$fira-font: 'FiraSans';
$base-font-size: 16px;
$suu-red: #ce181f;
$border-color: #B6B6B6;
$mobile-max-width: 767px; //$tablet-max-width
$desktop-min-width: 980px;
$desktop-xl: 1200px;
$white: #fff;